# Python
__pycache__/

# Virtual Environment
venv/
ENV/
env/

# Environment Variables
.env
*.env
.streamlit/secrets.toml

# Project specific
test/
*.txt
*.html
pull_noaa.py
meteo_hourly.csv
meteo_daily.csv
data_cleaning/unsuccessful_resorts.csv
