# Core dependencies
streamlit==1.32.0
pandas
requests>=2.22.0
psycopg2-binary==2.9.9
python-dotenv==1.0.0

# OpenMeteo API client
git+https://github.com/m0rp43us/openmeteopy.git@main#egg=openmeteopy

# Geocoding and routing
geopy==2.4.1
openrouteservice==2.3.3

# Utilities
requests==2.31.0
